
body{
  background-color: black
}
h1{
  border: 10px solid white ;
  color:red;
  
}

form p {
  color:white;
}

.needy_form{
  display:flex;
  justify-content: center;
  align-items: center;
  
} 

form{
  border:1px solid white;
  border-radius: 10px;
  width : fit-content;
  align-self: center;
  background-color: #333;
  padding: 20px;
}

form input:focus{
  border: 1 solid black;
  border-color:black;
  
}



