* {
  margin: 0;
  padding: 0;
   
}

 
body{
 
    
   background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
    
}

 header{
    border: .25px solid black;
 }
 #navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  /* add your desired styling here */
  transition: top 0.9s; /* add animation effect */
 }
 /* scrolling */
 #navbar{
    width: 100%;
     
    top: 0;
    position: fixed;
    
    margin: 0;
    padding: 0;
    
    border-radius: 10px;
    box-shadow: 5px 5px rgb(198, 199, 199);
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: flex;
    top: 0px;
    z-index: 100;
}

 
 

.header-main nav {
    display: flex;    /* to make all the object near each other */
    
}


.header-main .logo{
    height: 40px;
    width: fit-content;
    align-self: center;
    cursor: pointer;
    padding-bottom: 40px;
    padding-right: 10px;
    margin-left: 40px;
    
}

.header-main .logo img{    /* to makit sizefiting the border */
    height: 200%;
    width: 200%px;
    
   
}

.header-main ul{
    height: 100%;
    padding-top: 10px;
    list-style: none;
    display: flex;        /* to put them in the same line*/
    text-align: center;

   
}


.header-main ul li{
 position: relative;   /*  make the dropdowen goes under the parent*/
    
}

.header-main ul li ul li a{    /*to make the sentence in one line*/
    white-space: nowrap;
    font-size: 1.25rem;
     
   
    
}
 


.header-main ul li a {  /* navigation bar editing */
    display: block;
    padding: 0px 10px;
    padding-left: 30px;
    text-decoration: none;
    height: 50%;
    line-height: 60px;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    background-color: rgba(49, 125, 191, 0);
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease-in-out 100ms;
    
}



.header-main ul li a:hover{
    
    color: rgb(142, 30, 206);

    
}


.logo_img{
  display: flex;
  position: relative;
  bottom: 40px; 
  left: 40px;  
 
}

.logo_img img{
  position: relative;
  bottom: 20px;
}

.logo_img p{
  position: relative;
  left: 70px;
  top: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
   
  
  
   /* padding-left: 90px; */
}

.logo_img a {
  text-decoration: none;
  padding: -10px;
}

.nav_charity_nav{
  padding-left: 150px;
}

 








 /* drop dowen styling*/

 .header-main .drop{
    visibility: hidden;
    opacity: 0;
    display: none;
    position: absolute; /* to make the drop not get extra space*/
     
    transition: all ease-in-out 100ms;
   
 }

ul li:hover>.drop{
    visibility: visible;
    border: none;
    opacity: 1;
    display: block;
    z-index: 2;
    
   
 
}

.header-main ul li .subnav:hover{
    color: rgb(225, 90, 27);
    
    
}
.header-main ul li .subnav{
    text-transform:lowercase;
     
}
/* test animation*/
#bord_anim {
    animation: .5s anim-lineUp ease-out;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
 

  #bord_anim{
    box-shadow: 5px 5px 10px grey;
  }

/* test animation*/

.bord{
    padding-right: 60px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

 .bord li a{
    text-align: left;
    justify-items: left;
    padding-right: 40px;
    
    
 }
   
  

 /*// drop dowen styling*/

/* background image*/

.bk_img {
    z-index: 0;
    background-image: url("pic2.jpg");

    /* Add the blur effect */
    filter: grayscale(-20%);
    
  
    /* Full height */
    height: 500px;
    margin-top:80px ;
    position: relative;
    
   
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 
 
.bk_img img{
    visibility: hidden;
}


.btn_nav{
    color: rgba(240, 248, 255, 0);
    background-color: rgba(0, 0, 139, 0);
    border-color: rgba(240, 248, 255, 0);
    cursor: pointer;
    
}

.img_ms{
    border: 1px solid black;
    border-radius: 200px;
    padding: 5px;
    width: 30px;
    height: 30px;
}

.img_ms:hover{
    border-color: rgb(255, 111, 0);
    background-color: rgb(230, 193, 157);
}
.btn_chng{               /*usless */
    width: 5px;
    color: rgb(174, 205, 50);
     
    
}


        /*log in */


/* .container {
    position: relative;
    bottom: 400px; right: 0px;
    z-index:99;
    padding-bottom: 200px;
  } */
  
  #login-window {
    display: none;  /* Hide the login window by default */
    position: fixed;
    top: 50%;  /* Center the window vertically */
    left: 50%; /* Center the window horizontally */
    transform: translate(-50%, -50%); /* Center the window using transform */
    padding: 20px;
    width: 300px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }
  
  #toggle-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  #toggle-btn img {
    width: 32px;
  }
  
  #toggle-btn:focus {
    outline: none;
  }
  
  #toggle-btn:focus,
  #toggle-btn:active {
    outline: none;
  }
  
  #login-window.show {
    display: block; /* Show the login window when the 'show' class is applied */
  }
 /*log in */














 section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.banner {

 padding-top: 420px;
  width: 100%;
  background-image: url(pic4.jpg);
  background-size: cover;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
.sc_img{
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.banner h2 {
  
  justify-content: start;
  font-size: 60px;
  
}
.banner .text_nav{
  background-color: #7d715e8c;
  border-radius: 40px;
  border: 0px solid black;
  padding: 30px;
  position: relative;
  bottom: 300px;
  left: 350px;
}

.sc_img_nac button{
  border-radius: 20px;
  border: 0px;
  padding: 30px;
  width: 40%;
  background-color:rgba(236, 94, 94, 0.845) ;
  cursor: pointer;
}


.sc_img_nac button:hover{
  background-color: rgb(245, 55, 55);
  border-color: rgb(183, 35, 22);
}

.p_img {
  font-size: 18px;
  margin-bottom: 20px;
  animation: slideInUp 2s;
}

@keyframes slideInUp {
  from {
      transform: translateY(100px);
  }
  to {
      transform: translateY(0);
  }
}

 .th_text{
   padding: 30px;
    text-align: center;
    background-color: #8a8484;
    max-width: 100%;
 }

 

.feature {
  
  display: flex;
  margin-top: 40px;
  animation: slideInRight 2s;
}

@keyframes slideInRight {
  from {
      transform: translateX(-100px);
  }
  to {
      transform: translateX(0);
  }
}

.feature img {
  width: 40%;
  border-radius: 5px;
}

.feature-text {
  justify-content:space-around;
   
  padding: 20px;
  flex: 1;
  border-radius: 5px;
  margin-left: 20px;
}

.feature-text h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.feature-text p {
  font-size: 16px;
  margin-bottom: 20px;
}

.feature-text a {
  background-color: #333;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

footer {
  background-color: #666;
  color: #000000;
  text-align: center;
  padding: 10px;
 
}















.three_causes {
  background-color: #fbc787;
  padding: 50px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.causes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cause {
  width: 300px;
  padding: 20px;
  margin: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.cause:hover {
  transform: scale(1.05);
}

.cause img {
  width: 100%;
  height: 200px;
  
  border-radius: 5px;
}







 

 












